{% assign tableOfContents = "Table of Contents" %}
{% assign notFound = "Page Not Found" %}

{% assign toc_pages = site.pages | where: "toc", true %}
{% assign pages_sorted = toc_pages | concat: site.lessons | sort: 'order' %}
{% assign lessons_count = pages_sorted | size %}

{% for lesson in pages_sorted %}
  {% if lesson.path == page.path %}
    {% assign idxp = forloop.index | minus: 1 | minus: 1 %}
    {% assign idxn = forloop.index | plus: 1 | minus: 1 %}
  {% endif %}
  {% if lesson.title == tableOfContents %}
    {% assign idxtoc = forloop.index | minus: 1 %}
  {% endif %}
{% endfor %}

{% assign previousLesson = pages_sorted[idxp] %}
{% assign toc = pages_sorted[idxtoc] %}
{% assign nextLesson = pages_sorted[idxn] %}

{% if include.style == "compact" %}
<ul class="lesson__navigation">
  {% if idxp < 0 %}
  <li></li>
  {% else %}
  <li><a href="{{ previousLesson.url | absolute_url }}" title="Previous"></a></li>
  {% endif %}

  {% unless previousLesson.title == notFound or page.title == tableOfContents %}
  <li><a href="{{ toc.url | absolute_url }}" title="{{ toc.title }}">ToC</a></li>
  {% endunless %}

  {% if idxn >= lessons_count %}
  <li></li>
  {% else %}
  <li><a href="{{ nextLesson.url | absolute_url }}" title="Next"></a></li>
  {% endif %}
</ul>
{% else %}
<ul class="lesson__navigation">
  {% if idxp < 0 %}
  <li></li>
  {% else %}
  <li><a href="{{ previousLesson.url | absolute_url }}" title="{{ previousLesson.subtitle }}">
    {% unless previousLesson.title == tableOfContents %}{{ previousLesson.title }}{% endunless %}
  </a></li>
  {% endif %}

  {% unless previousLesson.title == notFound or page.title == tableOfContents %}
  <li><a href="{{ toc.url | absolute_url }}">{{ toc.title }}</a></li>
  {% endunless %}

  {% if idxn >= lessons_count %}
  <li></li>
  {% else %}
  <li>
    <a href="{{ nextLesson.url | absolute_url }}" title="{{ nextLesson.subtitle }}">
    {{ nextLesson.title }}
    </a>
    <img src="{{ 'assets/images/rabbit.png' | absolute_url }}" title="Follow the white rabbit..."/>
  </li>
  {% endif %}
</ul>
{% endif %}
