{% case include.chapter %}
{% when '1' %}
  {% assign breakAfter = "Lekce 7" %}
{% when '2' %}
  {% assign breakAfter = "Lekce 14" %}
  {% assign skipUntil = "Lekce 7" %}
{% when '3' %}
  {% assign breakAfter = "Lekce 21" %}
  {% assign skipUntil = "Lekce 14" %}
{% endcase %}
<ul>
{% assign lessons_sorted = site.lessons | sort: 'order' %}
{% for lesson in lessons_sorted %}
  {% if lesson.title == skipUntil %}{% assign skipUntil = false %}{% continue %}{% endif %}
  {% if skipUntil %}{% continue %}{% endif %}
  <li>
    <a href="{{ lesson.url | absolute_url }}">
      {{ lesson.title }}: {{ lesson.subtitle }}
    </a>
  </li>
  {% if lesson.title == breakAfter %}{% break %}{% endif %}
{% endfor %}
</ul>
