{% assign articles = site.articles | where: 'lesson', include.lesson | sort: 'date' %}
{% assign links = site.links | where: 'lesson', include.lesson | sort: 'date' %}
{% assign episodes = site.episodes | where: 'lesson', include.lesson | sort: 'date' %}
{% assign books = site.books | where: 'lesson', include.lesson | sort: 'date' %}

{% if include.hide_heading != true and (articles.size > 0 or links.size > 0 or episodes.size > 0 or books.size > 0) %}
<h4 id="down-the-rabbit-hole">Down the Rabbit Hole</h4>
{% endif %}

<ul class="resources">
{% for article in articles %}
  <li>
    {% if article.author == 'Gigi' %}
    <a href="{{ article.link }}" target="_blank">🔍 {{ article.title }}</a>
    {% else %}
    <a href="{{ article.link }}" target="_blank">{{ article.title }}</a> by {{ article.author }}
    {% endif %}
  </li>
{% endfor %}
{% for link in links %}
  <li>
    <a href="{{ link.link }}" target="_blank">{{ link.title }}</a> by {{ link.author }}
  </li>
{% endfor %}
{% for sode in episodes %}
  <li>
    🎧 <a href="{{ sode.link }}" taret="_blank">{{ sode.title }}</a><br/>
    {{ sode.podcast }}#{{ sode.episode }} hosted by {{ sode.hosts }}
  </li>
{% endfor %}
{% for book in books %}
  <li>
    {% if book.subtitle %}
      {% assign fullTitle = book.title | append: ' - ' | append: book.subtitle %}
    {% else %}
      {% assign fullTitle = book.title %}
    {% endif %}
    📚 <a href="{{ book.amazon_url }}" taret="_blank">{{ fullTitle }}</a> by {{ book.authors }}
  </li>
{% endfor %}
</ul>
